.sidebar {
  width: 240px;
  background-color: #0f172a;
  color: white;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to right, #eef3f9, #ffffff);
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}


  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .sidebar nav a {
    display: block;
    color: white;
    padding: 0.7rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .sidebar nav a:hover {
    background-color: #1e293b;
  }
  