<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
  
<div class="dashboard">
    <main class="main-content">
      <section class="cards">
        <div class="card">
          <h3>Total Users</h3>
          <p>1,245</p>
        </div>
        
        <div class="card">
          <h3>Sales</h3>
          <p>$12,340</p>
        </div>
        <div class="card">
          <h3>New Orders</h3>
          <p>89</p>
        </div>
        <div class="card">
          <h3>Feedback</h3>
          <p>128</p>
        </div>
      </section>
    </main>
  </div>
  