<div class="navbar">
    <h5>Input Group Form</h5>
    <div class="profile-dropdown">
      <div class="d-flex align-items-center">
        <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt="User" class="avatar me-2" />
        <span class="text-white me-2">Admin</span>
      </div>
      <div class="dropdown-menu">
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>